* {
  margin: 0;
  padding: 0; }

header {
  display: flex;
  justify-content: space-between; }
  header .logo {
    height: 50px;
    width: 50px; }

.carousel-item h5 {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; }

.carousel-item p {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 16px; }

.featured-elements h2 {
  margin: 80px; }

.featured-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  text-align: center; }
  .featured-card img {
    height: 300px;
    width: 400px;
    border-radius: 8px; }

.button-1 {
  background-color: white;
  border: solid black 1px;
  height: 55px;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  margin-top: 10px;
  font-size: 15px;
  padding: 8px;
  font-weight: 600;
  color: black; }

.product-card {
  margin: 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 8px; }
  .product-card img {
    height: 100px;
    width: 100px;
    margin-bottom: 10px; }
  .product-card a {
    text-decoration: none;
    color: black;
    font-weight: 500; }

.presentation-1 {
  background-image: url(../images/who-are-we.jpg);
  background-position: center;
  background-size: cover;
  color: whitesmoke; }

.presentation-2 {
  background-image: url(../images/who\are\we.jpg);
  background-position: center;
  background-size: cover;
  color: whitesmoke; }

.presentation-3 {
  background-image: url(../images/sustaintability.jpg);
  background-position: center;
  background-size: cover;
  color: whitesmoke; }

.presentation-4 {
  background-image: url(../images/team.jpg);
  background-position: center;
  background-size: cover;
  color: whitesmoke; }

iframe {
  width: 100%;
  height: 200px; }

.contact-us {
  display: flex;
  flex-direction: column; }
  .contact-us a {
    text-decoration: none; }

footer {
  background-color: whitesmoke;
  height: 300px;
  display: flex;
  justify-content: center; }
  footer img {
    height: 50px;
    width: 50px; }
  footer .copyright-text {
    display: flex;
    justify-content: center; }
    footer .copyright-text p {
      margin-top: 10px; }
  footer .social-media a {
    color: black;
    display: block;
    padding: 5px; }

@media (min-width: 1400px) {
  header {
    background-color: whitesmoke;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    z-index: 2000; }
    header .navbar {
      background-color: white; }
    header .logo {
      height: 60px;
      width: 60px;
      align-self: center; }
    header .header-list {
      padding: 20px; }
      header .header-list a {
        font-size: 20px;
        margin: 20px; }
  .container-carousel {
    width: 80%; }
  .featured-card {
    display: flex;
    flex-direction: column;
    margin: 30px;
    text-align: center; }
    .featured-card img {
      height: 400px;
      width: 600px;
      border-radius: 8px; }
  .product-card {
    width: 300px;
    height: 400px; }
    .product-card img {
      height: 200px;
      width: 200px; }
  .dropdown-center {
    margin-top: 70px; }
  iframe {
    width: 100%;
    height: 800px; } }

.button-1 :hover {
  background-color: black;
  color: white; }

.nav-link :hover {
  text-decoration: underline; }

.pic {
  transition: 1s;
  transform: scale(1); }
  .pic :hover {
    transition: 1s;
    transform: scale(1.01); }

.product-link :hover {
  text-decoration: underline; }
