*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;   
    
}


.logo{
    height: 50px;
    width: 50px;
}


.carousel-item h5{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.carousel-item p{
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 16px;
}

.featured-elements h2{
    margin: 80px;
}

.featured-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    text-align: center;
}

.featured-card img{
    height: 300px;
    width: 400px;
    border-radius: 8px;

}

.button-1{
    background-color: white;
    border: solid black 1px;
    height: 55px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin-top: 10px;
    font-size: 15px;
    padding: 8px;
    font-weight: 600;

}


footer{
    background-color: whitesmoke;
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

footer img{
    height: 50px;
    width: 50px;
}

.copyright-text{
    display: flex;
    justify-content: center;
}

.copyright-text p{
    margin-top: 10px;
}

.social-media a{
    color: black;
    display: block;
    padding: 5px;
}



@media (min-width: 1400px){
    header{
        background-color: whitesmoke;
        width: 100%;
        display: flex;
        position: fixed;
        justify-content: space-between;
        height: 100px;
        z-index: 2000;
    }

    .navbar{
        background-color: white;
    }

    .header-list a{
        font-size: 20px;
        margin: 20px;    
    }
    .header-list{
        padding: 20px;

    }
    .logo{
        height: 60px;
        width: 60px;
        align-self: center;
    }

    .container-carousel{
        width: 80%;
    }
    
    .featured-card img{
        height: 400px;
        width: 600px;
        border-radius: 8px;
    }

    .featured-card{
        display: flex;
        flex-direction: column;
        margin: 30px;
        text-align: center;
    }
}
