*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: space-between;
    .logo{
        height: 50px;
        width: 50px;
    }
    .header-list{
        a{
            font-size: 17px;

        }
    }
}