$images: (
    1:url(../images/who-are-we.jpg),
    2:url(../images/who-are-we2.jpg),
    3:url(../images/sustaintability.jpg),
    4:url(../images/team.jpg)
);
.carousel-item{
    h5{
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    }
    p{
        font-family: -apple-system, BlinkMacSystemFont, sans-serif;
        font-size: 16px;
    }
}

.featured-elements{
    h2{
        margin: 80px;
    }
}

.featured-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    text-align: center;
    img{
        height: 300px;
        width: 400px;
        border-radius: 8px;
    }
}

.button-1{
    background-color: white;
    border: solid black 1px;
    height: 55px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin-top: 10px;
    font-size: 15px;
    padding: 8px;
    font-weight: 600;
    color: black;

}

.product-card{
    margin: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 8px;
    img{
        height: 100px;
        width: 100px;
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
        color: black;
        font-weight: 500;
    }
}


@each $number, $valor in $images {
    .presentation-#{$number} {
        background-image: $valor;
        background-position: center;
        background-size: cover;
        color: whitesmoke;

    }
}




iframe{
    width: 100%;
    height: 200px;
}

.contact-us{
    display: flex;
    flex-direction: column;
    a{
        text-decoration: none;
    }
    
}


 
 